.Login {
    text-align: center;
}
.authPanel {
    width: 290px;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 30%;
}
.errorMessage {
    padding-right: 10%;
    padding-left: 10%;
    color: red;
}

.authBtn {
    margin-bottom: 10px;
    margin-right: 10px !important;
}

@media screen and (min-width: 725px) and (max-width: 1107px) {
    .authPanel {
        margin-left: 29%;
    }
}

@media screen and (max-width: 715px) {
    .authPanel {
        width: auto;
        margin-top: 5%;
        margin-left: 31%;
        margin-right: 10%;
    }
    * {
        font-size: small !important; 
    }
}
